.parent{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 5px 5px 10px;
    background-image: url(https://static.vecteezy.com/system/resources/previews/022/863/505/non_2x/smooth-wave-gradient-mesh-background-abstract-design-illustration-on-soft-yellow-dark-orange-black-vibrant-blend-template-free-vector.jpg);
    width: 100vw;
    height: 530px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    text-align:right;
    font-style:oblique;
    color: gray;
}
.w2{
    border-radius: 20px;
    width: 90px;
    height: 40px;
    padding: 5px 15px;
    outline: none;
    position: relative;
    color: #ff9a67;
    border: none;
    background-color: #bd5725;
}
.w1 {
    border-radius: 20px;
    width: 150px;
    height: 50px;
    padding: 5px 15px;
    outline: none;
    position: relative;
    color: #000000;
    border: none;
    background-color: #ffffff;
}
h1{
    font-style: italic;
    color: beige;
}
h2{
    font-style: unset;
    color: beige;
}
.parent2 {
    background-position: center;
    text-align: center;
    justify-content: center;
    align-items: center;
}
p{
    font-size:x-large;
    color:grey;
    font-style: unset;
}
b{
    font-size: medium;
    color: rgb(19, 18, 18);
    font-style: inherit;
}