.parent{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 5px 5px 10px;
    background-color: rgb(84, 124, 159);
    width: 100vw;
    height: 530px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    text-align:right;
    font-style:oblique;
    color: gray;
}
.w2{
    width: 90px;
    height: 40px;
    padding: 5px 15px;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: chocolate;
}
.a1 {
    width: 90px;
    height: 30px;
    padding: 5px 15px;
    outline: none;
    position: relative;
    color: #000000;
    border: none;
    background-color: #ffffff;
}
h1{
    color: beige;
}
h2{
    font-size: small;
    font-style: unset;
    color: beige;
}
p{
    font-size:x-large;
    color:grey;
    font-style: unset;
}
b{
    font-size: medium;
    color: rgb(19, 18, 18);
    font-style: inherit;
}
.parent2 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}
